{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "no-case-declarations": "off",
    "no-param-reassign": 0,
    "consistent-return": 0
  }
}