@import './_main.scss';

p, span, form, input, button {
  color: $black-color;
  font-family: "Futura-Medium", sans-serif;
  font-size: 10px;
  letter-spacing: -0.30px;
  line-height: 1;
  margin-top: 0;
  text-transform: none;
  text-align: center;
}

.big {
  font-size: 14px;
}