.access-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 90vh;

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 20px;

    input {
      width: 200px;
    }

    #submitButton {
      margin-top: 5px;
    }
  }
}