.bucket-selector-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 90vh;

  form {
    list-style: none;
    overflow:hidden;
    overflow-y:scroll;
    height: 50vh;
    border: solid 1px #EEEEEE;
  }

  li {
    display: flex;
    margin: 2px;
  }

  .bucket-selector-head {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  button {
    margin-top: 10px;
  }
}