@import '../base/_main';

.status-menu-container {
  width: 100%;
  height: 95vh;
}

.status-menu-bar {
  background-color: $green-color;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 40px;

  p, span {
    color: $white-color;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  .align-start {
    align-items: flex-start;
  }

  .bigger {
    font-size: 1.1em;
  }

  .settings {
    height: 20px;
    width: 20px;
    background-image: url('../images/settings.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    margin: 10px;
    position: absolute;
  }
}

.status-menu-filelist {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px;
    padding: 8px;
  }

  li:hover {
    background-color: $grey-color;
  }

  .status-icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
  }

  .uploaded {
    background-image: url('../images/okay.png');
  }

  .failed {
    background-image: url('../images/error.png');
  }

  .uploading {
    animation: blink 1s linear infinite;
    background-color: $green-color;
    border-radius: 100%;
    width: 8px;
    height: 8px;
  }
}

.status-menu-nofiles {
  align-content: center;
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;
  width: 100%;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}